@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --text-color: black;
  --border-color: #858080;
  --selected-color: #4D53B5
}

html {
  background: linear-gradient(to bottom, cyan, aquamarine);
  background-attachment: fixed;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
}

/* Header */

.header {
  padding-left: 16px;
  padding-right: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

#weather-app-logo {
  background-image: url(./assets/weather_icon.png);
  background-size: cover;
  height: 48px;
  width: 48px;
}

form {
  display: flex;
}

#search-bar {
  height: 24px;
  width: 300px;
  border-color: var(--text-color);
  padding: 8px;
  margin-right: 0;
}

#submit-city-btn {
  color: white;
  margin-left: 0;
  height: 44px;
  width: 64px;
  background-color: var(--selected-color);
  border-color: var(--text-color);
  border-left: none;
}

.convert-temp-btns {
  display: flex;
  gap: 16px;
}

.selected {
  background-color: var(--selected-color);
}

.temp-btn {
  font-weight: bold;
  border: 1px solid var(--border-color);
  height: 24px;
  width: 100px;
  border-radius: 8px;
}

/* Main Content */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* Card */
.card-container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  width: 300px;
  height: 300px;
  padding: 16px 16px;
}

/* Weekly Forecast */
#weekly-forecast-title {
  text-align: center;
}

.weekly-forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.forecast-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 16px 32px;
}

.forecast-list-header, .forecast-list, .forecast-item {
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}

.forecast-list-header {
  font-weight: bold;
}

.forecast-list-header > *, .forecast-item > *  {
  display: flex;
  justify-content: center;
}

.forecast-item > img {
  display: flex;
  justify-content: center;
}

.forecast-item > img {
  max-width: 100%;
  height: auto;
  display: block;
}

.forecast-list-header, .forecast-item:not(:last-child) {
  border-bottom: 2px solid var(--text-color);
}

